<app-change-profile-image [chosenImage]=chosenImage> </app-change-profile-image>
<app-change-password> </app-change-password>

<nav class="navbar navbar-expand-lg navbar-dark navbar" style="background-color: #333333; border-bottom: 1px solid #606060;" >
    <div class="container-fluid" >
  
        <img src="{{profileImage}}" alt="" width="60" height="60" class="d-inline-block rounded-circle" style="background-color: green">
        <span class="ms-1" style="font-size: 22px; font-weight: bold" > {{getUsername()}} </span>
  
  
      <div class="search ms-auto mb-2 mb-lg-0" >
        <form class="d-flex" style="left: 642px; top: 20px; position: absolute;">
          <input class="form-control me-2 search" type="search" placeholder="Search" (keydown.enter)="search($event)" style="width: 635px; height: 45px; background-color: #505050; border-width: 0; color:white" aria-label="Search">
        </form>
      </div>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav ms-auto">
          <app-messages [message]=message></app-messages>
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" id="dropdownMenuButton2" (click)="unSeen = 0; setSeen()" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                      style="background-color: inherit; border-width: 0" type="button"><i class="material-icons" style="color: white;
            font-size: 20px; vertical-align: text-bottom"> notifications</i><span class='badge badge-warning' *ngIf="unSeen != 0" id='lblCartCount'>{{unSeen}} </span></button>
  
              <div class="dropdown-menu dropdown-menu-end scrollable-menu"  aria-labelledby="dropdownMenuButton2" style="right: 0; left: auto; width: 15vw;;
                  text-align: center; background-color: #202020;">
                <p *ngIf="notifications.length === 0" style="color: white" class="mt-3"> <strong> No notifications found </strong></p>
                <ul *ngFor="let notification of notifications" style="left:0;" class="d-flex flex-column align-items-center">
                  <a class="dropdown-item h-25 pt-2 "  [ngClass]="{'notification-seen' : notification.seen, 'notification' : !notification.seen}" href="#"
                     routerLink="/post/{{notification.postId}}">
                    <div  class="d-flex flex-column">
                      <span> <strong>{{notification.author}}</strong> {{notification.type=='like'  ? 'liked' : 'commented'}} your {{notification.typeOfNotificatedPost=='post'  ? 'post' : 'comment'}}!</span>
                      <span style="font-size: 10px"> {{notification.date}} </span>
                    </div>
                  </a>
                </ul>
  
              </div>  
            </div> 
          </li>
          <li class="nav-item">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle"  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: inherit; border-width: 0">
                <i class="material-icons" style="color: white; font-size: 20px; vertical-align: text-bottom"> menu</i>
              </button>
              <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="right: 0; left: auto; width: 15vw;
              height: 20vh; text-align: center; background-color: #202020;">
  
                <button class="dropdown-item h-25 pt-2 menu-button" data-toggle="modal" data-target="#changeImage" > <label for="apply1" ><input type="file" name=""  class="apply" id="apply1" accept="image/*" (change)="newProfileImage($event)">
                  Change profile image </label> </button>
                <a class="dropdown-item h-25 pt-2 menu-button" href="#" data-toggle="modal" data-target="#changePassword"><span>Change password</span></a>
                <a class="dropdown-item h-25 pt-2 menu-button" href="#" routerLink="/blockedUsers" routerLinkActive="active"><span>Blocked users</span></a>
                <a class="dropdown-item h-25 pt-2 menu-button" href="#" (click)="logout()"><span>Logout</span></a>
  
              </div>
            </div> 
          </li> 
        </ul> 
      </div>
    </div>
  </nav>
