

<div class="answers" >
    <ul *ngFor="let answer of comment.comments" class="w-100 ms-4">
      <div class="d-flex flex-row mb-2"> <img src="{{answer.userImage}}" width="40" class="rounded-image">
        <div class="d-flex flex-column ml-2">
          <div class="d-flex flex-row mt-1">
            <a class="fonts " routerLink="/user/{{answer.username}}" routerLinkActive="active">{{answer.username}}</a>
            <span class="date mt-1 ms-1">{{answer.date}} </span>
          </div>
          <small class="comment-text">{{answer.body}}</small>
          <img src="{{answer.image}}" class="img-fluid w-75" data-toggle="modal" data-target="#imageModal" (click)="sendAnswerImage(answer.image)">
          <div class="d-flex flex-row align-items-center status">
            <small [style.color]="answer.liked  ? 'DodgerBlue' : '#959595'" (click)="like(answer); sendNotification(answer, 'like', 'comment')">{{answer.liked ? 'You like it!' : 'Like'}}</small>
            <small (click)="sendAnswerReactions(answer.reactions)" data-toggle="modal" data-target="#likesModal">{{answer.reactions.length}} likes</small>
          </div>
        </div>
        <div *ngIf="answer.userId === userId" class="dropdown">
          <button class="btn btn-secondary dropdown-toggle"  type="button" id="dropdownMenuButton3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: inherit; border-width: 0">
            <i class="material-icons" style="color: white; font-size: 20px; vertical-align: text-bottom"> more_horiz</i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton" style="top: 3em; right: 0; left: auto; width: 15vw;
            height: 10vh; text-align: center; background-color: #c5c5c5;">

            <a class="dropdown-item h-50 pt-2" href="#" data-toggle="modal" data-target="#editModal" (click)="sendAnswer(answer)"><span>Edit comment</span></a>
            <a class="dropdown-item h-50 pt-2" href="#"  (click)="removePost(answer.id)"><span>Delete comment</span></a>

          </div>
        </div>
      </div>
    </ul>
  </div>
