


<nav class="nav flex-column posts-menu" >
    <ul class="navbar-nav ms-3 ">
      <li class="nav-item"><a  routerLink="/allPosts" routerLinkActive="active"  class="nav-link change-site" ><i class="material-icons" style="color: white; font-size: 20px; margin-left: 5px"> trending_up</i> All posts</a></li>
      <li class="nav-item"><a routerLink="/user/{{this.username}}" routerLinkActive="active" class="nav-link change-site" ><i class="material-icons" style="color: white; font-size: 20px; margin-left: 5px"> account_circle</i> My profile</a></li>
      <li class="nav-item"><a routerLink="/followedUsers" routerLinkActive="active" class="nav-link change-site"><i class="material-icons" style="color: white; font-size: 20px; margin-left: 5px"> person</i> Followed users</a></li>
      <li class="nav-item"><a routerLink="/followedUsersPosts" routerLinkActive="active" class="nav-link change-site" ><i class="material-icons" style="color: white; font-size: 20px; margin-left: 5px"> favorite</i> Followed users posts</a></li>
      <li class="nav-item"><a routerLink="/likedPosts" routerLinkActive="active" class="nav-link change-site" ><i class="material-icons" style="color: white; font-size: 20px; margin-left: 5px"> recommend</i> Liked posts</a></li>
  
    </ul>
  </nav>
