.card{
    border:none;
    background-color: #303030;
    margin-bottom: 20px;
  }
textarea {
    resize: none;
}
hr{
  color: #a09c9c;
  margin-top: 4px;
  margin-bottom: 8px
}
.add-post {
    border-width: 0;
    font-weight: bold;
    display: block;
    width: 48%;
    color: #959595;
    border-radius: 5px;
    text-align: center;
    height: 4vh;
    background-color: inherit;
  }
  .add-post:hover {
    background-color:  #505050;
  }
  .apply {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  .form-control:focus{
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: none
  }
  .form-control{
    border-radius: 26px;
    background-color: #505050;
    border-width: 0;
  }
  .img_container {
    position:relative;
    display:inline-block;
    text-align:center;
  }
  .button {
    background-color: firebrick;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-width: 0;
    position:absolute;
    top:0;
    right:0;
  }