.password {
    border-radius: 10px;
    height: 5vh;
  }
  .add-post {
    border-width: 0;
    font-weight: bold;
    display: block;
    width: 48%;
    color: #959595;
    border-radius: 5px;
    text-align: center;
    height: 4vh;
    background-color: inherit;
  }
  .add-post:hover {
    background-color:  #505050;
  }