<div class="container mt-5">

    <!-- Modal -->
    <div class="modal fade " id="changePassword" role="dialog" >
      <div class="modal-dialog modal-dialog-centered">
  
        <!-- Modal content-->
        <div class="modal-content bt" style="background-color: #454545">
  
          <div class="modal-body">
            <div class="d-flex flex-column justify-content-center mt-3">
            <input #password class="password mb-2" type="text" placeholder="New password"/>
            <input #password2 class="password" type="text" placeholder="Confirm password"/>
            </div>
            <div class="d-flex flex-row mt-3 justify-content-center">
              <button type="button" class="btn add-post" data-dismiss="modal" (click)="changePassword(password.value, password2.value)">Change</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
